<div class="create-wrap">
  <div class="create_header flex-center-y">
    <div class="create_header_left flex-center-y">
      <div class="create_header_title flex-center-y">
        <div class="create_header_title_ico flex-center">
          <button (click)="onNoClick()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="create_header_title_text">
          Осуществление перевозки
        </div>
      </div>
    </div>
    <div class="create_header_right">
      <button (click)="apply()" mat-flat-button color="primary" class="general_create-button">
        Создать заказ
      </button>
    </div>
  </div>

  <div class="create_content">
    <div class="create_content_main">

      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center">
          <mat-icon>room</mat-icon>
        </div>
        <div class="create_content_block">
          <div class="create_cargo_list">
            <div *ngFor="let e of arr; let i = index" class="create_cargo flex-center">
              <mat-form-field appearance="fill" class="mgr5 create_cargo_main-input">
                <mat-label>Пункт отправления</mat-label>
                <input [(ngModel)]="e.name" matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="mgl5 create_cargo_main-input">
                <mat-label>Пункт назначения</mat-label>
                <input [(ngModel)]="e.name" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>


      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center"></div>
        <div class="create_content_block">
          <div class="title-order-list">
            Выберите грузы которые будете перевозить из города N
          </div>
        </div>
      </div>

      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center">
          <mat-icon>list_alt</mat-icon>
        </div>
        <div class="create_content_block">
          <div class="order-list">
            <div class="order-list_e flex-center-y">
              <div class="order-list_e_check flex-center">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
              <div class="order-list_e_info">
                <div class="order-list_e_info_order-id">
                  <span class="fw500">Заказ #213.</span>
                  Сейчас в <span class="fw500">Москве.</span>
                  Пункт назначения: <span class="fw500">СПб</span>
                  <br>
                  <span class="fw500">Грузы: </span>
                  <span>Велосипед (Обычный) (10кг), </span>
                  <span>Нефть (Наливной) (2000кг)</span>
                </div>
              </div>
            </div>

            <div class="order-list_e flex-center-y">
              <div class="order-list_e_check flex-center">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
              <div class="order-list_e_info">
                <div class="order-list_e_info_order-id">
                  <span class="fw500">Заказ #213.</span>
                  Сейчас в <span class="fw500">Москве.</span>
                  Пункт назначения: <span class="fw500">СПб</span>
                  <br>
                  <span class="fw500">Грузы: </span>
                  <span>Велосипед (Обычный) (10кг), </span>
                  <span>Нефть (Наливной) (2000кг)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="create_content_help">

      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center">
          <mat-icon>alarm</mat-icon>
        </div>
        <div class="create_content_block">
          <div class="create_cargo_list">
            <div class="create_cargo flex-center">
              <mat-form-field appearance="fill" class="create_cargo_main-input">
                <mat-label>Дата отправки</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="create_cargo flex-center">
              <mat-form-field appearance="fill" class="create_cargo_main-input">
                <mat-label>Дата прибытия</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>

      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center">
          <mat-icon>person</mat-icon>
        </div>
        <div class="create_content_block">
          <div class="create_cargo_list">
            <div class="create_cargo flex-center">
              <mat-form-field appearance="fill" class="create_cargo_main-input">
                <mat-label>Водитель</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="wrap-create_content_block">
        <div class="create_content_block_ico flex-center">
          <mat-icon>local_shipping</mat-icon>
        </div>
        <div class="create_content_block">
          <div class="create_cargo_list">
            <div class="create_cargo flex-center">
              <mat-form-field appearance="fill" class="create_cargo_main-input">
                <mat-label>Транспорт</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>
