.create-wrap{
  position: relative;
  width: 100%;
  height: 100%;
}

.create_header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e6e6e6;
  height: 65px;
  padding: 0 15px;
  z-index: 2;
}

.create_header_left{
  width: 100%;
}
.create_header_right{
  flex-shrink: 0;
}
.general_create-button{

}

.create_header_title_ico {
  width: 48px;
  margin-right: 10px;
}
.create_header_title_text{
  font-size: 16px;
  font-weight: 500;
}

.create_content{
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  //background: red;
  display: flex;
}

.create_content_main{
  //background: green;
  width: 100%;
  height: 100%;
}

.create_content_help{
  width: 100%;
  max-width: 400px;
  height: 100%;
  flex-shrink: 0;
  //background: blue;
  border-left: 1px solid #e6e6e6;
}

.wrap-create_content_block{
  width: 100%;
  //background: red;
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
}

.create_content_block_ico {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  flex-shrink: 0;
}

.create_content_block{
  width: 100%;
}
.create_cargo{
  font-size: 16px;
  .create_cargo_main-input{
    width: 100%;
  }
  .create_cargo_add-input{
    margin-left: 10px;
  }
}

.mgl5{
  margin-left: 5px;
}
.mgr5{
  margin-right: 5px;
}

.title-order-list{
  font-size: 18px;
  font-weight: 500;
}

.order-list_e{
  min-height: 60px;
  //box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 4px 2px rgba(60,64,67,0.149);
  border-radius: 0.5rem;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  padding: 15px 25px;
  margin-bottom: 10px;
}
.order-list_e_check{
  margin-right: 25px;
  position: relative;
  bottom: 1px;
  flex-shrink: 0;
}

.order-list_e_info{
  font-size: 15px;
}

.fw500{
  font-weight: 500;
}

.fw600{
  font-weight: 600;
}

