<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="search-order flex-center-y">
        <div class="search-order_ico flex-center">
          <mat-icon>search</mat-icon>
        </div>
        <div class="search-order_input">
          <input type="text" placeholder="Введите id заказа">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>tour</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #2 доставлен!
          </div>
        </div>
      </div>
      <div class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>airport_shuttle</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #2 перевезен из Санкт-Петербург (16 декабря) в Калининград (18 декабря).
          </div>
          <div class="elem-trans_info_add">
            Водитель: Стас Синотов. Код транспорта: G012GB
          </div>
        </div>
      </div>
      <div class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>airport_shuttle</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #2 перевезен из Новосибирска (13 декабря) в Санкт-Петербург (15 декабря).
          </div>
          <div class="elem-trans_info_add">
            Водитель: Иван Иванов. Код транспорта: В004KO
          </div>
        </div>
      </div>
      <div class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>gps_fixed</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #2 принят в Новосибирске.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
