<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="search-order flex-center-y">
        <div class="search-order_ico flex-center">
          <mat-icon>search</mat-icon>
        </div>
        <div class="search-order_input">
          <input [(ngModel)]="idData" type="number" placeholder="Введите id заказа">
        </div>
        <button (click)="findShip()" mat-flat-button color="primary">
          Найти!
        </button>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
<!--    <div  class="col-12">-->
<!--      <pre *ngIf="data">-->
<!--        {{data | json}}-->
<!--      </pre>-->

<!--    </div>-->

    <div *ngIf="errorData !== ''" class="col-12 flex-center">
      {{errorData}}
    </div>

    <div *ngIf="!data" class="col-12 flex-center">
      Введите id заказа, чтобы посмотреть историю перевозок)
    </div>

    <div *ngIf="data" class="col-12">
      <div *ngIf="data.status === 'created'" class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>accessible_forward</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Ваш заказ все ещё в пути!
          </div>
        </div>
      </div>

      <div *ngIf="data.status === 'completed'" class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>tour</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Ваш заказ доставлен!
          </div>
        </div>
      </div>

      <div *ngFor="let ship of data.shippings.reverse()" class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>airport_shuttle</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #{{data.id}} перевезен
            из города {{ship.departure_address}} ({{ship.start_time | date}})
            в город {{ship.destination_address}} ({{ship.stop_time | date}})
          </div>

          <div class="elem-trans_info_add">
            Водитель: {{ship.driver.name}}. Код транспорта: {{ship.transport.number}}
          </div>

        </div>
      </div>

<!--      <div class="elem-trans flex-center-y">-->
<!--        <div class="elem-trans_ico">-->
<!--          <mat-icon>airport_shuttle</mat-icon>-->
<!--        </div>-->
<!--        <div class="elem-trans_info">-->
<!--          <div class="elem-trans_info_way">-->
<!--            Заказ #2 перевезен из Новосибирска (13 декабря) в Санкт-Петербург (15 декабря).-->
<!--          </div>-->
<!--          <div class="elem-trans_info_add">-->
<!--            Водитель: Иван Иванов. Код транспорта: В004KO-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="elem-trans flex-center-y">
        <div class="elem-trans_ico">
          <mat-icon>gps_fixed</mat-icon>
        </div>
        <div class="elem-trans_info">
          <div class="elem-trans_info_way">
            Заказ #{{data.id}} принят в городе {{data.departure_address}}.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
